.post-container__container {
    position: relative;
    left: 50%;
    float: left;
}

.post-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
    bottom: 10%;
    left: -50%;
    float: left;
    background-color: #fafafa;
    width: 500px;
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 4;
}

.post-username-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 0px;
    width: 500px;
    box-sizing: border-box;
    /* border-top: 7px double #cc757c;
    border-left: 7px double #cc757c;
    border-right: 7px double #cc757c; */
    border: 1px solid #dbdbdb;
    border-bottom: 0;
    border-radius: 7px;
    /* box-shadow: 5px 5px 5px #cc757c, -5px -5px 5px #cc757c; */
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    font-family: "Fjalla One", sans-serif;
    /* margin-bottom: 10px; */
    margin-top: 50px;
    background-color: #ffffff;
}

.post-username-name {
    /* font-size: 14px; */
}

.post-username-modal {
    padding: 8px;
}

.post-image__container {
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 7px;
    /* padding: 15px; */
    /* padding-bottom: 0px; */
}

.post-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-top: 0;
    border-bottom: 0;
    /* border-radius: 7px; */
    /* box-shadow: 5px 5px 5px #cc757c, -5px -5px 5px #cc757c; */
}

.post-description-container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding: 8px 34px; */
    /* padding-right: 70px; */
    width: 500px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-top: 0;
    /* box-shadow: 3px 3px 3px #cc757c; */
    border-radius: 0px 0px 7px 7px;
    font-family: "Fjalla One", sans-serif;
    color: #262626;
    padding-bottom: 30px;
    word-wrap: break-word;
}

.post-description-buttons {
    padding-bottom: 10px;
    padding: 8px 12px 12px 12px;
}

.post-description-text {
    padding: 0px 12px;
}

.post-button {
    position: relative;
    z-index: 3;
    margin-left: 450px;
    font-family: "BioRhyme", sans-serif;
    border-radius: 12px;
}
