.logo-container {
    position: relative;
    left: -10%;
    float: left;
    z-index: 20;
    display: flex;
    justify-content: space-around;
    background-color: rgb(246, 152, 0, 0);
    border-radius: 20px;
    width: 100%;
    height: 80px;
}

.logobar-image {
    position: relative;
    top: 15px;
    z-index: 20;
}

.logo-container__container {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 20;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.nav_element {
    position: relative;
    right: 250px;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    z-index: 21;
}

nav ul {
    bottom: -1px;
    left: 1px;
    right: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: #c24150;
    color: white;
    border-radius: 20px;
    z-index: 5;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #262626;
}

.logout-navbar {
    border-radius: 20px;
}

.link-container {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Icons */

.navbar-image {
    display: flex;
    position: relative;
    margin: 10px;
    object-fit: cover;
}

.navbar-profile {
    background-color: #fff;
    /* padding: 0px 10px; */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbar-profile__image {
    display: flex;
    position: relative;
    margin: 10px;
    width: auto;
    object-fit: cover;
    object-position: 13px;
}

/* modal stuff */

.navbar-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    bottom: 110px;
    width: 100px;
    background-color: #dd9183;
    border-radius: 7px;
}

.navbar-modal__overlay {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(246, 152, 0, 0);
}

.navbar-modal__button {
    font-family: "BioRhyme", sans-serif;
    border-radius: 12px;
    size: 50%;
    background-color: #0f2840;
    box-shadow: 1px 1px 1px #c24150;
    color: #c24150;
    border-style: none;
}

.link-container__profile {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
}
