body {
  background-color: #f0d3cd;
  margin: 0px;
}
.post-container__container {
  position: relative;
  left: 50%;
  float: left;
}

.post-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
  bottom: 10%;
  left: -50%;
  float: left;
  background-color: white;
  width: 500px;
  box-sizing: border-box;
}

.post-username {
  position: relative;
  left: 0px;
  width: 500px;
  box-sizing: border-box;
  border: 5px solid #c24150;
  padding: 10px;
  font-family: "Fjalla One", sans-serif;
}

.post-image__container {
  height: 500px;
  width: 500px;
  /* padding: 15px; */
  /* padding-bottom: 0px; */
}

.post-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  box-sizing: border-box;
  border: 5px solid #c24150;
}

.post-description {
  padding: 15px;
  width: 500px;
  box-sizing: border-box;
  border: 5px solid #c24150;
  font-family: "Oxygen", sans-serif;
}
