.login-form-container {
  position: relative;
  left: 50%;
  margin-top: 20%;
  float: left;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -50%;
  bottom: -50%;
  float: left;
  background: #c24150;
  padding: 25px;
  box-sizing: border-box;
  font-family: "BioRhyme", serif;
  border-radius: 20px;
  color: #0f2840;
  box-shadow: 3px 3px 3px #0f2840;
}

.input-label {
  font-size: 10px;
  position: relative;
  left: 5px;
  top: 17px;
  color: rgb(0, 0, 0, 0.75);
}

input[type="text"] {
  padding-top: 14px;
  padding-left: 10px;
}

input[type="password"] {
  padding-top: 14px;
  padding-left: 10px;
}

.login_input {
  width: 185px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 1px 1px 2px #0f2840;
  font-family: "BioRhyme", sans-serif;
}

.login-button {
  position: relative;
  z-index: 3;
  margin-top: 10px;
  font-family: "BioRhyme", sans-serif;
  border-radius: 12px;
  background-color: #0f2840;
  box-shadow: 1px 1px 1px #c24150;
  color: #c24150;
  border-style: none;
}

.signup_link_button {
  position: relative;
  z-index: 3;
  margin-top: 10px;
  font-family: "BioRhyme", sans-serif;
  border-radius: 12px;
  border-style: none;
  background-color: #4a374e;
  box-shadow: 1px 1px 1px #4a374e;
  color: #f0d3cd;
}

.input-container {
  width: 200px;
}

.login-errors {
  font-weight: bold;
  color: #0f2840;
  font-family: "Oxygen", sans-serif;
}
