.signup-form-container {
    position: relative;
    left: 50%;
    margin-top: 10%;
    float: left;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -50%;
    bottom: -50%;
    float: left;
    background: #c24150;
    padding: 25px;
    box-sizing: border-box;
    font-family: "BioRhyme", serif;
    border-radius: 20px;
    color: #0f2840;
}

.input-label {
    font-size: 10px;
    position: relative;
    left: 5px;
    top: 17px;
    color: rgb(0, 0, 0, 0.75);
}

input[type="text"] {
    padding-top: 14px;
    padding-left: 10px;
}

input[type="password"] {
    padding-top: 14px;
    padding-left: 10px;
}

.signup_input {
    width: 185px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 1px 1px 2px #0F2840;
    font-family: "BioRhyme", sans-serif;
}

.signup_button {
    position: relative;
    z-index: 3;
    margin-top: 10px;
    font-family: "BioRhyme", sans-serif;
    border-radius: 12px;
    background-color: #0F2840;
    border-style: none;
    box-shadow: 1px 1px 1px #C24150;
    color: #C24150;
}

.login_button {
    position: relative;
    z-index: 3;
    margin-top: 10px;
    font-family: "BioRhyme", sans-serif;
    border-radius: 12px;
    border-style: none;
    background-color: #4A374E;
    box-shadow: 1px 1px 1px #4A374E;
    color: #F0D3CD;
}

.demo_button {
    position: relative;
    z-index: 3;
    margin-top: 10px;
    font-family: "BioRhyme", sans-serif;
    border-radius: 12px;
    border-style: none;
    background-color: #F0D3CD;
    box-shadow: 1px 1px 1px #F0D3CD;
    color: #0F2840;
}

.input-container {
    width: 200px;
}

.signup-errors {
    font-weight: bold;
    color: #0f2840;
    font-family: "Oxygen", sans-serif;
}


/* @media screen and (max-height: 700px),
screen and (min-width: 694px) {
    .signup-form {
        bottom: -75%;
    }
} */